$colorFontGray: #707070;
$colorHoverBlue: #829be5;

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  color: #3e4bc4;
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: $colorFontGray;
      font-weight: 300;

      &:hover {
        color: #3e4bc4;
      }

      &.active {
        font-weight: 400;
        color: $colorFontGray !important;
      }
    }
  }
}

.btn-order {
  color: #fff;
  background-color: #3e4bc4;
  padding: 8px 12px;
  display: inline-block;
  border-radius: 5px;

  &:hover {
    color: #fff;
    background-color: $colorHoverBlue;
  }
}

.hero {
  margin-top: -90px;
  background: rgb(57, 152, 188);
  background: linear-gradient(
    45deg,
    rgba(57, 152, 188, 1) 0%,
    rgba(61, 96, 194, 1) 100%
  );
  background: cover;

  .content {
    padding-top: 180px;
    padding-bottom: 120px;
  }

  .img-hero {
    position: relative;
    .lottie-animation {
      position: absolute;
      height: 600px;
      width: 600px;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 25px;
    }
  }

  h1,
  p {
    color: #fff;
  }

  p {
    font-size: 20px;
    font-weight: 300;
  }

  h1 {
    font-size: 40px;
    font-weight: 600;

    span {
      color: #3e4bc4;
    }
  }
}

.section-content {
  min-height: 528px;
  background-color: #f1f1f1;
  padding: 50px 0;

  h2 {
    font-weight: 600;
    font-size: 30px;
  }

  p {
    font-weight: 300;
    font-size: 18px;
    color: #000;
  }

  .btn-learn-more {
    color: #fff;
    background-color: #ff9100;
    padding: 8px 12px;
    border-radius: 5px;

    &:hover {
      color: #fff;
      background-color: #f3a844;
    }
  }
}

.section-service {
  padding: 50px 0 50px;

  .section-service-title {
    h2 {
      font-family: "Pacifico", cursive;
      font-weight: 400;
      font-size: 30px;
    }

    p {
      color: #c8c8c8;
      font-weight: 300;
    }
  }

  .section-service-content {
    margin-top: 52px;

    .card-service {
      border: 0;
      border-radius: 5px;
      padding: 35px 30px;
      height: 325px;
      width: 352px;
      background-color: #fbfbfb;
      box-shadow: 0px 1px 5px rgba(62, 75, 196, 0.2);

      .service-icon {
        margin-bottom: 37px;
      }

      .service-title {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 12px;
      }

      .service-text {
        font-weight: 300;
        font-size: 16px;
      }
    }

    .card-service-middle {
      border: 0;
      border-radius: 5px;
      padding: 35px 30px;
      height: 325px;
      width: 352px;
      background-color: #3e4bc4;
      box-shadow: 0px 1px 5px rgba(62, 75, 196, 0.2);

      .service-icon {
        margin-bottom: 37px;
      }

      .service-title {
        color: #fff;
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 12px;
      }

      .service-text {
        color: #fff;
        font-weight: 300;
        font-size: 16px;
      }
    }
  }
}

.section-tools {
  padding: 50px 0 50px;

  h2 {
    font-weight: 600;
    font-size: 30px;
  }

  p {
    font-weight: 300;
    color: #000000;
    font-size: 20px;
  }
}

.section-testimonials {
  padding: 50px 0 75px;
  background-color: #787b94;
  min-height: 480px;

  h2 {
    font-family: "Pacifico", cursive;
    color: #fff;
    font-size: 30px;
  }

  p {
    font-weight: 300;
    color: #c8c8c8;
    font-size: 20px;
  }

  .section-testimonials-area {
    margin-top: 80px;
    .single-testimonials {
      margin-bottom: 20px;

      p {
        color: #fff;
        font-weight: 300;
        font-size: 20px;
        line-height: 32px;
        margin: 34px 0 10px 0;
      }

      .testimonials-name {
        color: #c8c8c8;
        h3 {
          font-weight: 300;
          font-size: 16px;
        }
      }
    }

    .owl-carousel {
      .owl-item {
        img {
          width: auto;
          display: inline-block;
        }
      }

      .owl-nav {
        display: none;
      }

      .owl-dots {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;

        .owl-dot {
          width: 12px;
          height: 12px;
          background: #aab1b7;
          display: inline-block;
          border-radius: 50%;
          margin: 0 5px;
        }

        .active {
          background: #ff4a52;
        }
      }
    }
  }
}

.section-banner {
  padding: 80px 0 80px;
  background: url(../images/banner.png) no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 10;

  &.overlay::before {
    content: ""; // ::before and ::after both require content
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #eaee44, #33d0ff);
    opacity: 0.5;
    z-index: -1;
    mix-blend-mode: hard-light;
  }

  h2 {
    font-weight: 600;
    font-size: 35px;
    color: #fff;

    span {
      color: #3e4bc4;
    }
  }

  .btn-order-banner {
    color: #fff;
    background-color: #ff9100;
    padding: 8px 12px;
    border-radius: 5px;

    &:hover {
      color: #fff;
      background-color: #f3a844;
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (min-width: 575.99px) {
  .section-service {
    .section-service-content {
      .card-service {
        width: 100%;
      }

      .card-service-middle {
        width: 100%;
      }
    }
  }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  .btn-order {
    margin: 10px 0 10px;
    width: 100%;
  }

  .hero {
    min-height: 860px;
    overflow-y: hidden;
    .img-hero {
      .lottie-animation {
        position: absolute;
        width: 480px;
        height: 480px;
        top: 0;
        right: 0;
        bottom: -110px;
      }
    }
    .content {
      padding-top: 130px;
      padding-bottom: 100px;
    }

    .btn-order {
      display: inline;
    }

    img {
      margin-top: 50px;
    }
  }

  .section-content {
    padding: 30px 0;

    .img-content {
      display: flex;
      order: 9999;
    }
  }

  .section-service {
    padding: 30px 0;

    .section-service-content {
      .card-service {
        width: 100%;
      }

      .card-service-middle {
        width: 100%;
      }
    }
  }

  .section-tools {
    padding: 30px 0;
    border-top: 1px solid #e9e9e9;

    h2 {
      margin: 16px 0;
    }
  }

  .section-testimonials {
    padding: 30px 0 60px 0;
  }
}
